{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "import/extensions": ["error", "always", { "ignorePackages": true }],
    "react/prop-types": "off",
    "global-require": "off",
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}
