extends layout

block content
    div#contents
        //-h1= title
        //-p Welcome to #{title}
        script(src='/javascripts/vendor.bundle.js')
        script(src='/javascripts/app.bundle.js')